:root {
  --main-color: rgb(189, 186, 186);
  --h1-color: rgb(56, 93, 153);
  --h2-nav-color: white;
  --nav-color: rgb(247, 247, 176);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background: url("images/moonshine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* backdrop-filter: blur(0.1rem); */
  min-height: 100vh;
}

p {
  font-size: 1.6rem;
  text-align: justify;
  word-spacing: 0.3rem;
  padding: 0.5rem;
  color: rgb(214, 215, 226);
}
h2 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--h2-nav-color);
  text-decoration: underline;
  font-weight: 400;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  color: rgb(229, 238, 250);
  margin-top: 0.2rem;
  padding: 0.5rem;
}
h4 {
  color: white;
  font-size: 1.8rem;
  padding: 0.5rem;
  font-weight: 400;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.377),
    rgba(5, 5, 7, 0.288)
  );
  min-height: 100vh;
}

header {
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.596),
    rgba(5, 5, 7, 0.767)
  );
  width: 30%;
  border-radius: 1rem;
  /* backdrop-filter: blur(0.5rem); */
  box-shadow: 0 0 0.3rem #fff;
  margin: 2rem;
}

.left-container {
  /* border-right: 0.1rem solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.user-image {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 1rem;
}
.user-image img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgb(163, 157, 157);
  margin: 1rem;
}
.user-image h1 {
  font-size: 2.4rem;
  text-align: center;
  color: var(--main-color);
  text-shadow: 0.1px 0.1px 0.1px rgb(71, 71, 71);
}
/* .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.navbar ul li {
  font-size: 2.4rem;
  padding: 0.6rem;
  margin: 0.6rem;

  border-bottom: 0.3rem solid rgba(44, 30, 30, 0.3);
  border-radius: 0.8rem;
  display: flex;
  align-items: left;
  justify-content: left;
  vertical-align: middle;
}
.navbar ul li:hover {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 1px 2px rgb(20, 14, 14), 0px -1px 1px rgb(49, 48, 48);
  color: black;
  cursor: pointer;
}

.navbar ul li a {
  font-size: 2.4rem;
  text-align: left;
  color: white;
  font-weight: normal;
}
.navbar ul li:hover a {
  color: black;
}
.fas {
  color: rgb(204, 197, 197);
  cursor: pointer;
  padding-right: 1rem;
  font-size: 1.4rem;
}

.fas:hover {
  color: rgb(54, 129, 104) !important;
}

.social-icons ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.social-icons ul li {
  margin: 1rem;
}
.social-icons ul li:hover {
  color: rgba(250, 236, 236, 0.719);
}

.fab {
  font-size: 6rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  color: var(--main-color);
  background: rgba(0, 0, 0, 0.37);
  border-radius: 0.5rem;
}
.fab:hover {
  background: var(--main-color);
  color: black;
}
/*Javascript animation**************************************************************************************/
.home-section,
.about-section,
.projects-section,
.experience-section,
.education-section,
.skills-section {
  /* position: absolute; */
  position: absolute;
  opacity: 0;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.596),
    rgba(5, 5, 7, 0.767)
  );
  backdrop-filter: blur(1rem);
  border-radius: 16px;
  box-shadow: 0 0 0.3rem #fff;
}
.home-section {
  background: none;
  border: none;
  box-shadow: none;
}
/*Default screen*/
.home-section {
  opacity: 1;
}
h4.education-title {
  text-decoration: underline;
}

/*Right container**********************************************************************************************/
#right-section {
  width: 65%;
  height: auto;
  border-radius: 1rem;
  backdrop-filter: blur(0.5rem);
  margin: 2rem;
}
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
/*Project section em and a*/
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects > em {
  color: rgb(236, 240, 191);
  font-weight: bold;
  font-weight: normal;
}
em::before {
  content: "=> ";
}
.projects em a {
  color: #d6c6be;
  font-size: 1.8rem;
  text-decoration: underline;
}
/*Education Certifications section*/
.pluralsight > p,
.udemy > p,
.microsoft > p {
  color: #d6c6be;
  font-size: 1.6rem;
  padding: 0.5rem;
  text-align: center;
}

#textWriter {
  color: white;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.projects-section {
  z-index: 1;
}

.skills-section {
  width: 70%;
  margin: auto;
}
.skills-section > h3 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 2rem;
  color: rgb(255, 249, 249);
}
.skill-container {
  width: 80%;
  border: 0.1rem solid rgb(161, 153, 153);
  border-radius: 1rem;
  margin: 0.3rem auto;
}

.bar {
  box-shadow: 0 0 0.1rem 0.1rem rgb(231, 231, 231);
  height: 0.4rem;

  border-radius: 2rem;
  border-right: 1rem solid white;
  background: #fff;
}
.html {
  animation: html 2s;
  width: 90%;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.css {
  animation: css 2s;
  width: 65%;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.bootstrap {
  animation: bootstrap 2s;
  width: 50%;
}
@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.javascript {
  animation: javascript 2s;
  width: 45%;
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.react {
  animation: react 2s;
  width: 45%;
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.node {
  animation: node 2s;
  width: 45%;
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.mongo {
  animation: mongo 2s;
  width: 45%;
}
@keyframes mongo {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.csharp {
  animation: csharp 2s;
  width: 65%;
}
@keyframes csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.sql {
  animation: sql 2s;
  width: 75%;
}
@keyframes csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*Skills Section ends*/

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  body {
    background: url("images/sunset.jpg") no-repeat center;
    backdrop-filter: blur(0.1rem);
  }
  /* .clear{
    margin: 1rem 0;
  } */
  #container {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
  }
  .home-section,
  .about-section,
  .projects-section,
  .experience-section,
  .education-section,
  .skills-section {
    width: 96%;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  body {
    background: url("images/sunset.jpg") no-repeat center;
  }
  .clear {
    margin: 7rem 0;
  }

  #container {
    flex-direction: column;
  }
  header {
    width: 80%;
    margin-bottom: 16rem;
  }
  #right-section {
    width: 100%;
  }
}
@media screen and (max-width: 920px) {
  html {
    font-size: 60%;
  }
  body {
    background: url("images/moonshine.jpg") no-repeat center;
  }

  #container {
    flex-direction: column;
  }
  header {
    width: 80%;
    margin-bottom: 16rem;
  }
  #right-section {
    width: 100%;
  }
}
